<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.search_field :title, placeholder: 'Title search'%>
    <%= f.search_field :status, placeholder: 'Status search' %>
    <%= f.submit "search"  %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Details</th>
      <th>Duedate</th>
      <th><%= link_to 'Sort by status', tasks_path(sort_expired: "true") %></th>
      <th><%= link_to 'Sort by priority', tasks_path(sort_priority: "true") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <% t=0 %>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= t += 1 %></td>
        <td><%= link_to task.title ,task_path(task.id) %></td>
        <td><%= task.content %></td>
        <td><%= task.duedate %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <br>
    <%= paginate @tasks %>
  </tbody>
</table>

<hr>
<%= link_to 'New Task', new_task_path %>
