<h1><%= @user.name %>'s Profile</h1>
<p>Email address: <%= @user.email %></p>
<% if current_user.admin? %>
  <%= link_to "Admin show", admin_users_path %>
<% end %>
<hr>
<%= link_to 'New Task', new_task_path, class:"btn btn-info btn-lg" %> |
<%= link_to 'back', users_path, class:"btn btn-danger btn-lg" %>
