<!DOCTYPE html>
<html>
  <head>
    <title>EverleafApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
  </head>

  <body>
    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Everleaf</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <% if logged_in? %>
            <ul class="nav navbar-nav">>
              <li><%= link_to "My profile", user_path(current_user.id), class:"btn btn-warning btn-lg"  %></li>
              <li><%= link_to "All Tasks", tasks_path, class:"btn btn-success btn-lg"  %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Admin", admin_users_path, class:"btn btn-primary btn-lg" %></li>
              <% end %>
              <li><%= button_to "Logout", session_path(current_user.id), :method=>:delete, :class=>:destroy, class:"btn btn-danger btn-lg" %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "Login", new_session_path, class:"btn btn-warning btn-lg" %></li>
              <li><%= link_to "Join", new_user_path, class:"btn btn-primary btn-lg" %></li>
            </ul>
          <% end %>
        </div>

        <% flash.each do |key, value| %>
        <div class="alert alert-danger" role="alert">
          <%= content_tag(:div, value, class: "#{key}") %>
        </div>
        <% end %>
    </div>
  </nav>
  <%= yield %>
  </body>
</html>
